{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container w- 50 text-dark fw-bold mt-5">
    <h2>{{ title }}</h2>
    <form method="POST" action="{{ url_for('user.reset_password', token=token, _external=True) }}">
        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}<br>
            {{ form.email(
                size=32, 
                ) 
            }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit(class="btn btn-primary") }}</p>
        
    </form>

</div>

{% endblock %}