<p>
    {% if user.profile_picture %}
        <img src="{{ url_for(
                    'static', 
                    filename='uploads/profile_pics/' + user.profile_picture) }}" 
            alt="ava"
            > 
    {% else %} 
        <img src="{{ url_for(
                    'static', 
                    filename='uploads/profile_pics/default.jpg') }}" 
            alt="default.png"
        > 
    {% endif %}
</p>

<div class="bg-info w-50 text-dark fw-bold mt-5 p-2 rounded">
    <h4>{{ user.username }}</h4> 
    <p>Last seen:{{ user.last_seen.strftime('%Y-%m-%d %H:%M') }}</p>
    {% if user.bio %}
        <p>{{ user.bio }}</p>  
    {% endif %}  
</div>

<div class="btn-group m-1">
    {% if current_user.is_authenticated and current_user.id != user.id %}
        {% if current_user.is_following(user) %}
            <a href="{{ url_for('workflow.unfollow', user_id=user.id) }}" 
               class="btn btn-danger">
                 Unfollow
            </a>
        {% else %}
            <a href="{{ url_for('workflow.follow', user_id=user.id) }}" 
               class="btn btn-primary">
                Follow
        </a>
        {% endif %}
    {% endif %}
</div>
<hr>