{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container w- 50 text-dark fw-bold mt-5">
    <h2>{{ title }}</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="list-unstyled bg-warning">
            {% for category, message in messages %}
                <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('auth.reset_password_request') }}">
        {{ form.hidden_tag() }} 
        
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    
</div>

{% endblock %}