{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="container-create-post text-dark fw-bold mt-5">

        <div class="col left">
            <table class="table table-hover">
                <tr>
                    <td width="8em">  
                        <img src="" />  
                    </td>
                </tr>
                <tr>    
                    <td>
                        <div class="bg-light p-3 rounded">
                            <h3>{{ current_user.username }}</h3>
                            <p>Last seen: {{ moment(current_user.last_seen).format('LLLL') }}</p>
                            {% if current_user.bio %}
                                <p>{{ current_user.bio }}</p>
                            {% endif %}
                        </div> 
                    </td>
                </tr>
            </table>    
            
        </div>

        <div class="col right">
          <div class="scrollable-content">
            {% include 'paginator.html' %}
            {% include 'workflow/posts_block.html' %}
          </div>
        </div>

    </div>
{% endblock %}